<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button routerLink="/">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Sensor de {{dispositivo.ubicacion}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div>Acá deberia traer mas información del dispositivo y su medida del sensor</div>
    <div>
        <h3>{{dispositivo.ubicacion}} | {{dispositivo.dispositivoId}}</h3>
    </div>

</ion-content>